@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="mt-4">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-primary btn-lg me-3">Create Employee</a>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-success btn-lg">Employee List</a>
    </div>
</div>
